force-app/main/default/flows/Create_TestObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TestApex</name>
        <label>TestApex</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>TestApexInProcessBuilder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>TestObjectName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>TestObjectId_assignment</name>
        <label>TestObjectId assignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TestObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_TestObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TestApex</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create TestObject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create TestObject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TestObject</name>
        <label>Create TestObject</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>TestObjectId_assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TestObjectName</elementReference>
            </value>
        </inputAssignments>
        <object>TestObject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_TestObject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TestObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
