force-app/main/default/flows/LunchApexFromRecordTriggerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex</name>
        <label>Run Apex</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>LunchApexFromRecordTriggerFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_TestObject</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputVar</name>
            <value>
                <elementReference>$Record.TextField__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>LunchApexFromRecordTriggerFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LunchApexFromRecordTriggerFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_TestObject</name>
        <label>Update TestObject</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>TextField__c</field>
            <value>
                <elementReference>Run_Apex</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Apex</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>LunchApexFromRecordTriggerFlow</stringValue>
            </value>
        </filters>
        <filters>
            <field>TextField__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>run update;</stringValue>
            </value>
        </filters>
        <object>TestObjectParent__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>apexInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Some value</stringValue>
        </value>
    </variables>
</Flow>
