force-app/main/default/flows/LunchApexFromFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex</name>
        <label>Run Apex</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>LunchApexFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Information</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>intInputs</name>
            <value>
                <elementReference>inputInteger</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringInputs</name>
            <value>
                <elementReference>inputStrings</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Create_Strings</name>
        <label>Create Strings</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>inputStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>parameter 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>parameter 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>parameter 3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputInteger</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputInteger</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Apex</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>LunchApexFromFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LunchApexFromFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output_Information</name>
        <label>Output Information</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;OutputsString from Apex: {!Run_Apex.stringOutputs}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;OutputsInteger from Apex: {!Run_Apex.intOutputs}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Strings</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputInteger</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>inputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>parameter 0</stringValue>
        </value>
    </variables>
    <variables>
        <name>inputStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
