force-app/main/default/flows/Test_chank_Flow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Change_TextField</name>
        <label>Change TextField</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CurrentChildTestObject.TextField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated by Test_chank_Flow_1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_TestObject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_current_record</name>
        <label>update current record</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CurrentChildTestObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_TextField</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Current_Record_from_Loop</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Current Record from Loop</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_Get_Current_Record_from_Loop</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_child_records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Current_Record_from_Loop.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_1.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>update_current_record</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Test chank Flow 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test chank Flow 1</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_child_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_Record_from_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_child_records</name>
        <label>get child records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TestObjectParent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TestObject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_TestObject</name>
        <label>update TestObject</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputReference>CurrentChildTestObject</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_child_records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TextField__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>run update</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Test_chank_Flow_1</stringValue>
            </value>
        </filters>
        <object>TestObjectParent__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentChildTestObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestObject__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Current_Record_from_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestObject__c</objectType>
    </variables>
</Flow>
